.back {
    padding: 3%;
  }
.large {
    font-size: 25px !important;
  }
.train {
    color: #ffffff;
    width: 100px;
    font-size: 15px;
    margin-left: 80%;
    border-radius: 6px;
    margin-right: 3%;
  }
.empty-state-img{
  margin-left:39%
}
.empty-state-text{
  margin-left:38%;
  color:grey;
  font-size:21px;
}
.people:hover {
    /* border: solid lightgreen 3px; */
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2),
      5px 20px 20px 0 rgba(0, 5, 0, 0.19);
    cursor: pointer;
  }
.people {
    width: 20%;
  }
  
.cards {
    margin: 10px !important;
    margin-right: 25px !important;
    margin-left: 25px !important;
    margin-bottom: 30px !important;
  }
.selectall label
  {
    font-size: 20px;
    display: inline;
  }
.titletext {
    font-size: 26px;
    color: #000000;
  }
.maincard{
    margin-top: 12px;
    margin-left: 10px;
  }